<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.mapper.YmRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ym.entity.YmRule">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="icon" property="icon" />
        <result column="url" property="url" />
        <result column="name" property="name" />
        <result column="is_menu" property="isMenu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, icon, url, name, is_menu
    </sql>

</mapper>
