<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yqf.yjgrouping.mapper.GroupingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yqf.yjgrouping.entity.Grouping">
        <id column="id" property="id"/>
        <result column="group_name" property="groupName"/>
        <result column="category_id" property="categoryId"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="dsc" property="dsc"/>
        <result column="cover" property="cover"/>
        <result column="background" property="background"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_name, category_id, user_id, create_time, dsc, cover, background
    </sql>

</mapper>
