<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yqf.yjgrouping.mapper.PredictionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yqf.yjgrouping.entity.Prediction">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="base_gua_id" property="baseGuaId" />
        <result column="yao_id" property="yaoId" />
        <result column="predictionText" property="predictionText" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category_id, base_gua_id, yao_id, predictionText
    </sql>

</mapper>
